### Подготовка данных

### Скачали 20к записей о пауках в Австралии и Океании.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('observations-388825.csv')
df

,id,image_url,scientific_name,iconic_taxon_name,taxon_id
0,335236,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
1,391354,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
2,679239,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
3,944933,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
4,947100,https://static.inaturalist.org/photos/1183569/...,Zygiella x-notata,Arachnida,155279.0
...,...,...,...,...,...
17766,194084487,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
17767,194086571,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
17768,194087099,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
17769,194087422,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0
17770,194088802,https://inaturalist-open-data.s3.amazonaws.com...,Araneae,Arachnida,47118.0

### Классифицировать будем по taxon_id
### Оказалось, большая часть набора это фотографии паучьих нор без самих пауков

In [3]:
df['taxon_id'].value_counts()

taxon_id
47118.0     11188
623479.0      246
155279.0      242
534687.0      182
48139.0       169
            ...
153765.0        1
830325.0        1
802920.0        1
47119.0         1
825705.0        1
Name: count, Length: 622, dtype: int64

### Дропаем паучьи норы и оставляем только пауков

In [4]:
df = df[df['scientific_name'] != 'Araneae']

In [5]:
df

,id,image_url,scientific_name,iconic_taxon_name,taxon_id
4,947100,https://static.inaturalist.org/photos/1183569/...,Zygiella x-notata,Arachnida,155279.0
5,947523,https://inaturalist-open-data.s3.amazonaws.com...,Salsa fuliginata,Arachnida,1399033.0
7,950295,https://inaturalist-open-data.s3.amazonaws.com...,Araneidae,Arachnida,47535.0
15,971611,https://inaturalist-open-data.s3.amazonaws.com...,Clubiona,Arachnida,121774.0
19,974942,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279.0
...,...,...,...,...,...
17719,193673188,https://inaturalist-open-data.s3.amazonaws.com...,Neosparassus calligaster,Arachnida,564915.0
17721,193768168,https://inaturalist-open-data.s3.amazonaws.com...,Holconia,Arachnida,132844.0
17723,193774228,https://inaturalist-open-data.s3.amazonaws.com...,Leucauge dromedaria,Arachnida,368474.0
17756,194070860,https://inaturalist-open-data.s3.amazonaws.com...,Copa kabana,Arachnida,802683.0
17757,194070865,https://inaturalist-open-data.s3.amazonaws.com...,Lamponidae,Arachnida,333919.0

In [6]:
df['taxon_id'].value_counts()

taxon_id
623479.0     246
155279.0     242
534687.0     182
48139.0      169
1308421.0    128
            ...
153765.0       1
830325.0       1
802920.0       1
47119.0        1
825705.0       1
Name: count, Length: 621, dtype: int64

### Оставим только виды, встречающиеся более 30 раз

In [7]:
df['count'] = df.groupby('taxon_id')['taxon_id'].transform('count')

C:\Users\tosha\AppData\Local\Temp\ipykernel_3944\773398754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['count'] = df.groupby('taxon_id')['taxon_id'].transform('count')

In [8]:
df_cropped = df[df['count'] >= 30]
df_cropped = df_cropped.drop('count', axis=1)
df_cropped

,id,image_url,scientific_name,iconic_taxon_name,taxon_id
4,947100,https://static.inaturalist.org/photos/1183569/...,Zygiella x-notata,Arachnida,155279.0
7,950295,https://inaturalist-open-data.s3.amazonaws.com...,Araneidae,Arachnida,47535.0
15,971611,https://inaturalist-open-data.s3.amazonaws.com...,Clubiona,Arachnida,121774.0
19,974942,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279.0
20,984573,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279.0
...,...,...,...,...,...
17711,193571423,https://inaturalist-open-data.s3.amazonaws.com...,Salsa,Arachnida,1399026.0
17713,193574177,https://inaturalist-open-data.s3.amazonaws.com...,Sidymella,Arachnida,202191.0
17714,193574357,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133.0
17715,193575175,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133.0
17756,194070860,https://inaturalist-open-data.s3.amazonaws.com...,Copa kabana,Arachnida,802683.0

In [9]:
df_cropped['taxon_id'].value_counts()

taxon_id
623479.0     246
155279.0     242
534687.0     182
48139.0      169
1308421.0    128
47535.0      112
990338.0     106
199976.0     101
417879.0      99
48766.0       97
713952.0      82
461087.0      73
199167.0      70
552252.0      67
549017.0      65
818759.0      64
121774.0      62
47416.0       58
786966.0      58
710359.0      57
418954.0      54
47866.0       52
1399026.0     52
713422.0      51
806416.0      51
831320.0      50
47371.0       47
802852.0      45
47550.0       41
196689.0      41
504971.0      41
636581.0      40
557537.0      40
510811.0      39
420567.0      39
513054.0      38
153753.0      38
830524.0      38
47133.0       38
557550.0      38
802683.0      38
791096.0      37
83845.0       36
788773.0      36
420594.0      36
825732.0      35
533304.0      35
904337.0      34
633286.0      33
419750.0      32
68390.0       31
420897.0      31
1430099.0     31
202191.0      30
146765.0      30
Name: count, dtype: int64

In [10]:
df_cropped = df_cropped.reset_index().drop('index', axis=1)
df_cropped

,id,image_url,scientific_name,iconic_taxon_name,taxon_id
0,947100,https://static.inaturalist.org/photos/1183569/...,Zygiella x-notata,Arachnida,155279.0
1,950295,https://inaturalist-open-data.s3.amazonaws.com...,Araneidae,Arachnida,47535.0
2,971611,https://inaturalist-open-data.s3.amazonaws.com...,Clubiona,Arachnida,121774.0
3,974942,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279.0
4,984573,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279.0
...,...,...,...,...,...
3511,193571423,https://inaturalist-open-data.s3.amazonaws.com...,Salsa,Arachnida,1399026.0
3512,193574177,https://inaturalist-open-data.s3.amazonaws.com...,Sidymella,Arachnida,202191.0
3513,193574357,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133.0
3514,193575175,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133.0
3515,194070860,https://inaturalist-open-data.s3.amazonaws.com...,Copa kabana,Arachnida,802683.0

In [11]:
df_cropped['taxon_id'] = df_cropped['taxon_id'].astype(int)
df_cropped

,id,image_url,scientific_name,iconic_taxon_name,taxon_id
0,947100,https://static.inaturalist.org/photos/1183569/...,Zygiella x-notata,Arachnida,155279
1,950295,https://inaturalist-open-data.s3.amazonaws.com...,Araneidae,Arachnida,47535
2,971611,https://inaturalist-open-data.s3.amazonaws.com...,Clubiona,Arachnida,121774
3,974942,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279
4,984573,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279
...,...,...,...,...,...
3511,193571423,https://inaturalist-open-data.s3.amazonaws.com...,Salsa,Arachnida,1399026
3512,193574177,https://inaturalist-open-data.s3.amazonaws.com...,Sidymella,Arachnida,202191
3513,193574357,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133
3514,193575175,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133
3515,194070860,https://inaturalist-open-data.s3.amazonaws.com...,Copa kabana,Arachnida,802683

### Загружаем фотки

In [12]:
# import urllib.request
# for i in range(2068, len(df_cropped)):
#     urls = df_cropped['image_url']
#     url = f'{urls[i]}'
#     urllib.request.urlretrieve(url, f"./images/{i}.png")

In [13]:
df_cropped

,id,image_url,scientific_name,iconic_taxon_name,taxon_id
0,947100,https://static.inaturalist.org/photos/1183569/...,Zygiella x-notata,Arachnida,155279
1,950295,https://inaturalist-open-data.s3.amazonaws.com...,Araneidae,Arachnida,47535
2,971611,https://inaturalist-open-data.s3.amazonaws.com...,Clubiona,Arachnida,121774
3,974942,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279
4,984573,https://inaturalist-open-data.s3.amazonaws.com...,Zygiella x-notata,Arachnida,155279
...,...,...,...,...,...
3511,193571423,https://inaturalist-open-data.s3.amazonaws.com...,Salsa,Arachnida,1399026
3512,193574177,https://inaturalist-open-data.s3.amazonaws.com...,Sidymella,Arachnida,202191
3513,193574357,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133
3514,193575175,https://inaturalist-open-data.s3.amazonaws.com...,Badumna,Arachnida,47133
3515,194070860,https://inaturalist-open-data.s3.amazonaws.com...,Copa kabana,Arachnida,802683

### Далее делаем датасет с лейблами, он будет содержать имя картинки и закодированный id таксона

In [14]:
df_labels = df_cropped[['taxon_id']]
df_labels['class id'], class_mapping = pd.factorize(df_labels['taxon_id'])

C:\Users\tosha\AppData\Local\Temp\ipykernel_3944\3744849125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_labels['class id'], class_mapping = pd.factorize(df_labels['taxon_id'])

In [15]:
df_labels['image path'] = df_labels.index
df_labels

C:\Users\tosha\AppData\Local\Temp\ipykernel_3944\2632664304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_labels['image path'] = df_labels.index

      taxon_id  class id  image path
0       155279         0           0
1        47535         1           1
2       121774         2           2
3       155279         0           3
4       155279         0           4
...        ...       ...         ...
3511   1399026        52        3511
3512    202191        24        3512
3513     47133        36        3513
3514     47133        36        3514
3515    802683        20        3515

[3516 rows x 3 columns]

In [16]:
df_labels['image path'] = df_labels['image path'].astype(str) + '.png'
df_labels

C:\Users\tosha\AppData\Local\Temp\ipykernel_3944\1333850047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_labels['image path'] = df_labels['image path'].astype(str) + '.png'

      taxon_id  class id image path
0       155279         0      0.png
1        47535         1      1.png
2       121774         2      2.png
3       155279         0      3.png
4       155279         0      4.png
...        ...       ...        ...
3511   1399026        52   3511.png
3512    202191        24   3512.png
3513     47133        36   3513.png
3514     47133        36   3514.png
3515    802683        20   3515.png

[3516 rows x 3 columns]

In [17]:
df_labels[['image path', 'class id']].to_csv('ordered_labels_paths.csv', index=False)

### Имеем 55 классов (от 0 до 55)

In [18]:
max(df_labels['class id'])

54

### Расшифровка классов

In [27]:
classes = []
id_s = df_labels['taxon_id'].unique()
for id in id_s:
    classes.append(df[df['taxon_id'] == id]['scientific_name'].iloc[0])
classes

['Zygiella x-notata',
 'Araneidae',
 'Clubiona',
 'Theridiidae',
 'Socca pustulosa',
 'Dolophones',
 'Latrodectus hasselti',
 'Laetesia raveni',
 'Clynotis severus',
 'Nephila pilipes',
 'Tamopsis brisbanensis',
 'Trichonephila edulis',
 'Servaea',
 'Tetragnatha',
 'Thomisidae',
 'Hortophora',
 'Lycosidae',
 'Plebs eburnus',
 'Helpis minitabunda',
 'Salticidae',
 'Copa kabana',
 'Araneinae',
 'Austracantha minax',
 'Opisthoncus',
 'Sidymella',
 'Namandia',
 'Arkys curtulus',
 'Arkys alatus',
 'Australomisidia',
 'Thwaitesia nigronodosa',
 'Paraphilaeus daemeli',
 'Megadolomedes trux',
 'Astilodes mariae',
 'Telaprocera maudae',
 'Tamopsis fickerti',
 'Tamopsis tweedensis',
 'Badumna',
 'Servaea villosa',
 'Euryopis',
 'Toxopsoides erici',
 'Oxyopes',
 'Opisthoncus quadratarius',
 'Heteropoda',
 'Pungalina',
 'Stephanopis carcinoides',
 'Stephanopis barbipes',
 'Sidymella rubrosignata',
 'Stephanopis altifrons',
 'Helpis kenilworthi',
 'Menneus aussie',
 'Janula bicornis',
 'Tharrhalea',
 'Salsa',
 'Maratus griseus',
 'Tamopsis brachycauda']

In [28]:
df_cropped['scientific_name'].value_counts()

scientific_name
Arkys alatus                246
Zygiella x-notata           242
Tamopsis brisbanensis       182
Salticidae                  169
Hortophora                  128
Araneidae                   112
Stephanopis carcinoides     106
Opisthoncus                 101
Araneinae                    99
Heteropoda                   97
Tamopsis tweedensis          82
Servaea villosa              73
Helpis minitabunda           70
Plebs eburnus                67
Thwaitesia nigronodosa       65
Megadolomedes trux           64
Clubiona                     62
Lycosidae                    58
Laetesia raveni              58
Telaprocera maudae           57
Dolophones                   54
Thomisidae                   52
Salsa                        52
Stephanopis altifrons        51
Menneus aussie               51
Maratus griseus              50
Theridiidae                  47
Janula bicornis              45
Tetragnatha                  41
Austracantha minax           41
Arkys curtulus               41
Opisthoncus quadratarius     40
Astilodes mariae             40
Clynotis severus             39
Pungalina                    39
Sidymella rubrosignata       38
Euryopis                     38
Tamopsis brachycauda         38
Badumna                      38
Tamopsis fickerti            38
Copa kabana                  38
Stephanopis barbipes         37
Oxyopes                      36
Toxopsoides erici            36
Servaea                      36
Helpis kenilworthi           35
Australomisidia              35
Trichonephila edulis         34
Paraphilaeus daemeli         33
Namandia                     32
Nephila pilipes              31
Tharrhalea                   31
Socca pustulosa              31
Sidymella                    30
Latrodectus hasselti         30
Name: count, dtype: int64